extends ../../layout

block title
  != t('account.reset_password.reset_password')

block content
  a#logo(href=routes.index)

  h1= t('account.reset_password.error_title')
  p.instructions= t('account.reset_password.error_description')
