extends ../../layout

block title
  != t('account.send_reset_password_email.error_title')

block content
  a#logo(href=routes.index)

  h1= t('account.send_reset_password_email.error_title')
  p.instructions= t('account.send_reset_password_email.error_description')
