.login-form {
  margin-top: 40px;
}

.login-form input {
  width: 300px;
}

.login-form .forgot-password {
  padding-top: 5px;
  text-align: right;
}

.login-form .forgot-password a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
}
