extends ../layout

block styles
  link(rel='stylesheet', href='/css/common.css')
  link(rel='stylesheet', href='/css/login.css')

block content
  a#logo(href='/')
  form(action=routes.user.login, method='POST', class='login-form')
    p
      input(name='email', value='jon@bloksmonkey.io')
    p
      input(name='password', type='password', value='1234')

    input(name='next', type='hidden', value=next_url)
    input(type='hidden', name='_csrf', value=csrf_token)

    p
      input.button.primary(value='Login', type='submit')
