extends ../layout

block title
  != t('account.forgot_password')

block content
  a#logo(href='/')
  form(action=routes.account.forgot_password, method='POST', class='forgot-password-form')
    - if( error_message )
      .wrapper.error.error-message
        != error_message

    .wrapper.email-wrapper
      input(name='email', placeholder=t('email_placeholder'), value=(memento || {}).email)
      - if( error_messages && error_messages.email )
        .error.error-email-message
          != error_messages.email

    input(type='hidden', name='_csrf', value=csrf_token)

    .wrapper
      input.button.primary(value=t('account.reset_password.reset_password'), type='submit')
