extends ../layout

block title
  != t('account.reset_password.reset_password')

block content
  a#logo(href='/')

  h1.success= t('account.send_reset_password_email.title')
  p.instructions= t('account.send_reset_password_email.subtitle')
