extends ../layout

block title
  != t('account.reset_password.reset_password')

block content
  a#logo(href='/')

  h1.success= t('account.reset_password.success.title')
  p.instructions= t('account.reset_password.success.description')
  a.button.primary(href=routes.session.login)= t('account.reset_password.success.login_button')
