doctype html
html
    head
        meta(charset='UTF-8')
        title= title
            |  - Didgeridoo IDE

        block styles
        link(rel='icon', href='favicon.png')

    body
        block content
